
<ion-card>


  @if(param === 0){

    <img [src]="thumbnail" [alt]="title"
    class="game-thumbnail">
  <ion-card-content>
    <ion-text>
      <h3> <strong>Nombre:</strong>  {{ title }}</h3>
      <!-- Mostrar el título del juego -->
    </ion-text>
  </ion-card-content>

  }@else{
    <img [src]="thumbnail" [alt]="title"
    class="game-thumbnail">
  <ion-card-content>
    <ion-text>

      <h3 class="gamename"> {{ title }}</h3>
      <div class="description">{{description}}</div>

      <ion-card class="game-details">
        <ion-item>
          <ion-label style="color: azure;"><strong>Detalles importantes.</strong></ion-label>
        </ion-item>
        <h4><strong style="text-transform: uppercase;">Genero: {{genre}}<br>
          Plataforma: {{ platform}} <br>
          Desarrollador: {{ publisher}} <br>
          Fecha De Lanzamiento: {{ release_date}}

        </strong></h4>
      </ion-card>
      <br>
      <ion-card class="requisitos">
        <ion-item>
          <ion-label style="color: azure;"><strong>Requisitos Del Sistema.</strong></ion-label>
          
        </ion-item>
        <h4><strong style="text-transform: uppercase;">
          Gráficos: {{ minimum_system_requirements_graphics}} <br>
          Memoria: {{ minimum_system_requirements_memory}} <br>
          SO: {{ minimum_system_requirements_os}} <br>
          Procesador: {{ minimum_system_requirements_processor }} <br>
          almacenamiento: {{ minimum_system_requirementsstorage}}
          

        </strong></h4>
      </ion-card>


      <br>

      <div class="border" *ngFor="let imga of screenshots">
        <img [src]="imga.image" alt="Imagen del slider" class="imgAvatare" />
      </div>



    </ion-text>
  </ion-card-content>
  }

  

</ion-card>