<app-header [param]="1"/>

<ion-content mode="ios" class="content-container">
  <div class="content-wrapper">

    <div class="glass-content ion-padding">
      

      <div class="ion-text-center ion-padding-top" *ngIf="game">
        <app-card 
          [thumbnail]="game.thumbnail"
          [title]="game.title"
          [description]="game.description"
          [genre]="game.genre"
          [platform]="game.platform"
          [publisher]="game.publisher"
          [release_date]="game.release_date"
          [minimum_system_requirements_graphics]="game.minimum_system_requirements.graphics"
          [minimum_system_requirements_memory]="game.minimum_system_requirements.memory"
          [minimum_system_requirements_os]="game.minimum_system_requirements.os"
          [minimum_system_requirements_processor]="game.minimum_system_requirements.processor"
          [minimum_system_requirementsstorage]="game.minimum_system_requirementsstorage"
          [screenshots]="game?.screenshots"
          [param]="1"
        ></app-card>
      </div>

    </div>

  </div>
  <app-footer/>
</ion-content>

